#form {
    display: flex;
    align-items: center;
    flex-direction: column;
    max-width: 450px;
    background: #FAFAFA;
    padding: 30px;
    margin: 50px auto;
    box-shadow: 1px 1px 25px var(--dark);
    border-radius: 10px;
    border: 3px solid #305A72;
}

.form {
    display: flex;
    align-items: center;
    flex-direction: column;
    padding: 1vh;
}

#nomprenom, #mailtel {
    display: flex;
}

button {
    margin-top: 20px;
    width: 10vw;
    height: 4vh;
}